@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Poppins-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Inter_24pt-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
}
